<!-- <div  *ngIf="isShowFilters" class="filters"> -->
<div class="filters">
  <div class="filters-items">
    <p class="filters-items__sort">Sorting by:</p>
    <p
      (click)="clickSortByDateEmit()"
      class="filters-items__params"
    >
    <span>date</span></p>
    <p
      (click)="clickSortByViewsEmit()"
      class="filters-items__params"
    >
    <span>count of views</span></p>
    <div class="filters-items__word">by word or sentence</div>
    <input
      #Item
      (keyup)="inputFilterByStringEmit(Item.value)"
      class="filters-items__input"
      type="search"
    >
  </div>
</div>
