@import '../../variables';

.filters {
  max-width: 1440px;
  height: 50px;
  margin: 0 auto;
  padding: 15px;
  background-color: $color-bg-cards;
}

.filters-items {
  max-width: 479px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-items__sort {
  margin: 0;
  color: $color-font-grey;
  font-size: 12px;
}

.filters-items__params {
  margin: 0;
  color: $color-main;
  text-decoration: underline;
  cursor: pointer;
}

.filters-items__params:hover {
  color: $color-font-grey;
}

.filters-items__word {
  color: $color-main;
}

.filters-items__input {
  width: 149px;
  height: 13px;
  border: none;
  outline: none;
  font-size: 12px;
}

.filters-items__input:focus {
  border: 1px solid  $color-main;
  filter: drop-shadow(2px 0px 2px #2F80ED);
}
