@import '../../../variables';

.card {
  width: 264px;
  height: 327px;
  background-color: $color-bg-cards;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  
  img {
    width: 223px;
    height: 123px;
    margin: 20px;
  }

  .card-properties {
    width: 220px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    p {
      font-size: 11px;

      img {
        width: 18px;
        height: 12px;
        margin: 0;
      }
    }
  }
}


