@import '../variables';

app-header {
  display: block;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 15px;
  background-color: $color-bg-cards;
}

app-search-results {
  display: block;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 29px;
  margin: 0 auto;
  padding: 31px;
}
