$color-bg:          #fff;
$color-bg-cards:    #E5E5E5;
$color-form-bg:     #F2F2F2;
$color-main:        #2F80ED;
$color-main-hover:  #5EA2FF;
$color-main-active: #B1B1B1;
$color-font-main:   #4F4F4F;
$color-font-grey:   #828282;
$color-font-wite:   #fff;
$color-font-black:  #000;
$color-input-form:  #E0E0E0;
