<div class="header-search">
  <img src="../../assets/img/icon/play.svg" alt="play">
  <!-- <input #Item type="search" placeholder=" What are you want to find out?">
  <button (click)="inputValueEmit(Item.value)" class="search-input-btn">search</button> -->
  <input #Item type="search" (keyup)="inputValueEmit(Item.value)" placeholder=" What are you want to find out?">
  <button (click)="btnClickEmit()" class="search-setting-btn">
    <img src="../../assets/img/icon/search_settings.svg" alt="setting">
  </button>
  <a href="/home/auth/admin">{{authService.isLoggedIn ? " Admin": ""}}</a>
</div>
<div class="header-login">
  <p (click)="toggleLogin()">{{authService.isLoggedIn ? "LogOut" : "LogIn"}}</p>
  <img src="../../../../assets/img/icon/login2.svg" alt="login">
</div>
